<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlyMusicBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044FD2A01CBEA15C004C4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044FD2B91CBEA15C004C4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044FD2C41CBEA15C004C4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
